@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Open+Sans:wght@400;600;700&display=swap");
body {
  background: #F5F5F5;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

* {
  user-select: none;
}

input {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.container {
  max-width: 100%;
  margin: auto 0;
  padding: 20px 20px 0 20px;
  position: relative;
}

#menu {
  background: #3600C9;
  padding: 0 10px;
  position: fixed;
  left: 20px;
  width: calc(100% - 60px);
  border-radius: 20px;
  bottom: 20px;
  z-index: 10;
}

#menu ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu ul li {
  list-style: none;
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 10px 0;
  border-bottom: 5px solid transparent;
  position: relative;
}

#menu ul li:before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -10px;
  background: #fff;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  opacity: 0;
}

#menu ul li .icon img {
  height: 15px;
}

#menu ul li:hover:before {
  opacity: 1;
}

#report-holder {
  background: #fff;
  min-width: calc(100% - 40px);
  padding: 20px 40px;
  margin-top: 20px;
  border-top-left-radius: 30px;
  margin-left: -20px;
  height: calc(100vh - 410px);
  position: relative;
}

#report-holder .week-absolute {
  position: relative;
}

#report-holder .week-holder {
  position: absolute;
  width: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  opacity: 0;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

#report-holder .week-holder:nth-child(2) {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}

#report-holder .week-holder.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

#report-holder .report-control {
  background: #fff;
  border: 1px solid #dadada;
  padding: 15px;
  width: 200px;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
}

#report-holder .report-control-option {
  position: relative;
  z-index: 2;
  font-weight: 800;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

#report-holder .report-control-option.active {
  color: #fff;
}

#report-holder .report-control-trigger {
  position: absolute;
  background: #3600C9;
  padding: 15px;
  top: 0;
  margin-left: -20px;
  border-radius: 20px;
  z-index: 1;
  width: calc(50% - 30px);
  -webkit-transition: margin 0.2s ease;
  transition: margin 0.2s ease;
}

#report-holder .week {
  margin-top: 15px;
}

#report-holder .week.expense .week-graph-holder-label {
  background-color: #DD4C4C !important;
}

#report-holder .week.expense .week-graph-holder-line {
  background-color: #DD4C4C !important;
}

#report-holder .week-day {
  width: 35px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-align: right;
  float: left;
  margin-right: 20px;
  text-transform: uppercase;
  padding-top: 3px;
}

#report-holder .week-graph-holder {
  width: calc(100% - 55px);
  float: left;
  position: relative;
}

#report-holder .week-graph-holder-label {
  font-size: 12px;
  text-transform: uppercase;
  background: #3600C9;
  color: #fff;
  padding: 3px 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  margin-left: 10px;
  position: absolute;
  z-index: 2;
}

#report-holder .week-graph-holder-line {
  background: #3600C9;
  height: 5px;
  position: absolute;
  z-index: 1;
  top: 10px;
  border-radius: 20px;
}

#report-holder .total-holder {
  margin-top: 20px;
}

#card-holder {
  background: #F5F5F5;
  min-width: calc(100% - 40px);
  padding: 40px;
  border-top-left-radius: 30px;
  margin-left: -20px;
  margin-top: 0px;
  height: 120px;
  position: relative;
  z-index: 1;
}

#card-holder .card-control {
  position: relative;
  height: 100%;
}

#card-holder .card-control .card-control-item {
  position: absolute;
  right: -20px;
  background: rgba(255, 255, 255, 0.5);
  height: 40px;
  width: 40px;
  z-index: 3;
  border-radius: 50%;
  text-align: center;
}

#card-holder .card-control .card-control-item img {
  height: 20px;
  margin-top: 10px;
}

#card-holder .card-control .card-control-item.next-card {
  bottom: 20px;
}

#card-holder .card-control .card-control-item.prev-card {
  top: 20px;
}

#card-holder .card-container .card {
  position: absolute;
  width: 240px;
  height: 120px;
  background: maroon;
  position: absolute;
  left: 20px;
  border-radius: 20px;
  bottom: 20px;
  padding: 20px;
  color: #fff;
  font: 600 14px 'Open Sans Condensed', sans-serif;
  z-index: 2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#card-holder .card-container .card.inactive {
  bottom: 40px;
  z-index: 1;
  opacity: 0.5;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#card-holder .card-container .card-header {
  font-size: 16px;
}

#card-holder .card-container .card-info {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px);
}

.total-figure {
  font-size: 32px;
  font-weight: 800;
  font-family: 'Open Sans Condensed', sans-serif;
}

.action-panels {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 0px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  opacity: 0;
}

.action-panels.active {
  height: 100vh !important;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.action-panels .action-panel {
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #fff;
  width: calc(100% - 40px);
  z-index: 10;
  height: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.action-panels .action-panel.active {
  height: 60%;
  opacity: 1;
  z-index: 9999999;
}

.action-panels .action-panel .action-header {
  font-size: 12px;
  font-weight: 800;
  margin-bottom: 20px;
}

.action-panels .action-panel .action-header .close-btn {
  padding: 10px;
}

.action-panels .action-panel .action-header .header-label {
  padding: 10px;
}

.action-panels .action-panel .action-panel {
  padding: 20px;
}

.add-transaction .type-holder {
  margin-right: 20px;
}

.add-transaction .type-holder .type {
  height: 25px;
  width: 25px;
  background: #56F46E;
  text-align: center;
  border-radius: 50%;
}

.add-transaction .type-holder .type:not(:first-child) {
  margin-top: 10px;
  background: #DD4C4C;
}

.add-transaction .amount-input {
  float: left;
  width: 80%;
}

.add-transaction .amount-input input {
  border: none;
  font-size: 48px;
  width: 100%;
  margin-top: -5px;
  font-weight: 800;
  color: #000;
  outline: none;
}

.view-transactions .action-body {
  overflow-y: scroll !important;
  height: 454px;
}

.view-transactions .item {
  background: #3600C9;
  padding: 20px;
  color: #fff;
  border-radius: 20px;
  margin-bottom: 20px;
}

.view-transactions .item.debit {
  background-color: #3600C9;
}

.view-transactions .item.expense {
  background-color: #DD4C4C;
}

.view-transactions .item .date, .view-transactions .item .description {
  font-size: 12px;
}

.view-transactions .item .amount {
  font-size: 24px;
  font-weight: 800;
}

.input-group .input-icon {
  height: 25px;
  width: 25px;
  background: #000;
  text-align: center;
  border-radius: 50%;
  margin-right: 20px;
}

.input-group .input-icon svg {
  fill: #fff;
}

.input-group input {
  border: none;
  border-bottom: 2px solid #000;
  width: 80%;
  font-size: 20px;
  outline: none;
}

.lbl {
  font-size: 12px;
  padding: 3px 10px;
  background: #000;
  color: #fff;
  width: auto;
  border-radius: 5px;
}

.ff-o {
  font-family: 'Open Sans', sans-serif;
}

.ff-oc {
  font-family: 'Open Sans Condensed', sans-serif;
}

.ta-center {
  text-align: center;
}

.ta-left {
  text-align: left;
}

.ta-right {
  text-align: right;
}

.fw-bold {
  font-weight: 800;
}

.fw-regular {
  font-weight: 400;
}

.fw-semi {
  font-weight: 600;
}

.c-blue {
  color: #3600C9;
}

.c-red {
  color: #DD4C4C;
}

.c-green {
  color: #56F46E;
}

.c-black {
  color: #000;
}

.c-muted {
  color: #BABABA;
}

.bg-blue {
  background-color: #3600C9;
}

.bg-red {
  background-color: #DD4C4C;
}

.bg-green {
  background-color: #56F46E;
}

.bg-black {
  background-color: #000;
}

.bg-muted {
  background-color: #BABABA;
}

.w-50 {
  width: 50%;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.clearfix {
  float: none;
  clear: both;
}

.fz-12 {
  font-size: 12px;
}

.uppercase {
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */